.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.favorite {
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.star {
    font-size: 2.2rem;
    color: orange;
    cursor: pointer;
}

.star:hover {
    font-size: 2.4rem;
}

.modal-title {
    position: absolute;
    left: 3rem;
    margin-left: 1rem;
}

.hide {
    display: none;
}